#formBtn {
    font-family: 'Alata', sans-serif;
    border-radius: 0;
}

#entryForm {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    background-color: lightgray;
    margin: 0;
}

#saveEntry {
    border-radius: 0;
}