#formBtn {
    font-family: 'Alata', sans-serif;
    border-radius: 0;
}

.modal-content {
    border: none;
    border-radius: 0;
}

#formHeader {
    color: white;
    background-color: #17a2b8;
    border-radius: 0;
}

#entryTitle {
    border-radius: 0;
}

#entryBody {
    border-radius: 0;
}

#entryMood {
    border-radius: 0px;
}

#saveEntry {
    border-radius: 0;
}