body {
    font-family: 'Alata', sans-serif;
}

#entry-form {
    display: flex;
    flex-direction: column;
    background-color: tomato;
    border: none;
    margin: 0 0 10px 0;
}

#submit-form {
    background-color: slategray;
    border: none;
    color: white;
    padding: 10px;
}