@import 'header.css';
@import 'entryForm.css';

body {
    font-family: 'Alata', sans-serif;
    margin: 0;
    padding: 50px;
    border: 10px solid lightgray;
}

#entryLog {
    display: flex;
    flex-flow: column wrap; 
}

.entry {
    color: darkslategray;
    border: 5px solid lightgray;
    padding: 25px;
    margin: 0 0 25px 0;
    -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .5);
	   -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .5);
	        box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .5);
}

.entry h2 {
    text-transform: uppercase;
    letter-spacing: .05em;
    margin: 0;
}

.entry--body {
    margin-bottom: 10px;
}

.entry--mood {
    text-transform: uppercase;
    letter-spacing: .1em;
    font-weight: bold;
}